//fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300i,400&display=swap");

$special-purple: #ea515c;
$special-gray: #858788;

.navbar {
  margin-top: 0px !important;
}

#flex-center {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

#flex-center2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.block {
  display: block !important;
}

.square img {
  height: 300px !important;
  width: 300px;
}

.hero-image {
  height: 500px;
  background-image: url("/Images/images-woman1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

#hero-image-text {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 150px;
  width: 45%;
  height: -webkit-fill-available;

  h1 {
    font-size: -webkit-xxx-large;
  }

  p {
    font-size: x-large;
    font-family: "Raleway", sans-serif;
  }

  i {
    font-family: "Raleway", sans-serif;
  }
}

.purple-text-button {
  height: 43px;
  color: $special-purple;
  background-color: white;
  width: 180px;
  border-radius: 25px;
  border: none;
  &:hover {
    height: 43px;
    color: white;
    background-color: $special-purple;
    width: 180px;
    border-radius: 25px;
    border: none;
    transition-duration: 1s;
  }
}

.purple-button {
  height: 43px;
  color: white;
  background-color: $special-purple;
  width: 180px;
  border-radius: 25px;
  border: none;
  &:hover {
    height: 43px;
    color: $special-purple;
    background-color: white;
    width: 180px;
    border-radius: 25px;
    border: 1px solid;
    transition-duration: 1s;
  }
}

.purple-button2 {
  height: 40px;
  color: white;
  background-color: $special-purple;
  width: 100px;
  border-radius: 10px;
  border: none;
  &:hover {
    height: 40px;
    color: $special-purple;
    background-color: white;
    width: 100px;
    border-radius: 10px;
    border: 1px solid;
    transition-duration: 1s;
  }
}

.list-i {
  padding: 0px 8px 16px 8px;
}

#promo-image2 img {
  height: 400px;
  object-fit: cover;
}

.promo-box1 {
  height: 200px;
  align-content: center;
  flex-wrap: wrap;
  h1,
  p {
    flex-basis: 100%;
    text-align: center;
  }
}

.input-box {
  input {
    border-radius: 24px !important;
    height: 43px !important;
    width: 400px;
    margin-right: 20px !important;
  }
  button {
    width: 120px;
    &:hover {
      width: 120px;
    }
  }
}

#promo-box2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  h1 {
    flex-basis: 100%;
  }
  .text-box {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0px 20px 0px;
  }
  p {
    width: 600px;
  }
}

footer {
  padding: 20px 0px;
}

//categories page
.hero-image2 {
  background-image: url("/Images/Images-modal4.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  height: 400px;
  .hero-image2-content {
    height: 300px;
    display: flex;
    align-content: center;
    color: white;
  }
}

#shop-image {
  .image {
    background-color: white;
    display: flex;
    justify-content: center;
    img {
      width: 200px;
    }
  }
  .space-a {
    padding: 40px;
  }
}

.purple-text {
  color: $special-purple !important;
}

#promo-image3 {
  background-image: url("/Images/images-shoe2.png");
  height: 350px;
  background-size: cover;
  display: flex;
  align-items: center;
  .promo-image3-content {
    height: 200px;
    color: white;
    width: 40%;
    padding-left: 20px;
    font-size: large;
    p {
      font-size: large;
    }
  }
}

.subscribe-box {
  display: flex !important;
  justify-content: center !important;
  .subscribe-text {
    display: flex;
    align-items: center;
    padding-right: 60px;
  }
}

#socialicons {
  padding-top: 20px;
}

.pricetext {
  color: $special-purple;
  font-size: x-large;
  display: block;
  padding-bottom: 20px;
}

.greycolor {
  color: $special-gray !important;
}

.header-rating {
  padding: 20px 0px;
  .header {
    margin-top: 2px !important;
  }
}

.sizeblock,
.quantityblock {
  display: block;
  padding: 20px 0px;
}

.product-area {
  background-color: white;
  padding: 20px 0px;
}

#review form {
  padding: 20px 0px;
}

#seg {
  background: #f3f4f5;
}
